body{
    margin: 0px;
    padding: 0px;
    background-image: url("images/bgimg.jpg");
    background-size: cover;
    box-sizing: border-box;
}
.Question_block{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 12%;
}
.Time_left{
    background-color: black;
    padding: 10px 0px;
    padding-left: 5px;
    color: grey;
}
.Question_number{
    width: auto;
    padding: 10px 0px;
    padding-left: 5px;
    text-align: center;
    color: grey;
    background-color: black;
    opacity: .7;
}
.Question{
    padding: 10px 0px;
    padding-left: 5px;
    background-color: white;
}
.Option{
    padding: 10px 0px;
    padding-left: 5px;
}
.Option:hover{
    background-color: grey;
    opacity: 0.6;
}
.Next_Save_button{
    padding: 10px 10px;
    background-color: grey;
    opacity: 0.9;
/*rgb(0, 26, 255)*/
}
.Next_Save_button input:hover{
    background-color: black;
    color: white;
}